#paneMemberMain{
	
}

#paneMemberTop{
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 5px;
}
#paneMemberLeft{
	-fx-background-color: transparent;
	-fx-background-radius: 5px;
}
#paneMemberCenter{
	-fx-background-color: Transparent;
	-fx-background-radius: 5px;
}
#paneMemberRight{
	-fx-background-color: transparent;
	-fx-background-radius: 5px;
}
/* Style cho phan hien thi Basic */
#scrollTaskFailed, #scrollTaskDoing, #scrollTaskPanel{
	-fx-background-color: transparent;
}
#scrollTaskFailed .viewport, #scrollTaskDoing .viewport , #scrollTaskPanel .viewport{
	-fx-background-color: transparent;
}
#scrollTaskDoing{
	
}

#scrollTaskPanel{
	
}
#paneSplitTask *.split-pane-divider {
	-fx-border-color: transparent;
	-fx-border-width: 0.5px;
    -fx-padding: 0 0 0 0;
    -fx-fill: transparent;
}
#paneSplitTask{
	-fx-border-radius: 5px;
	-fx-background-color: transparent;
}

#vBoxTaskFailed, #gridPaneTaskDoing,#vBoxTaskPlane{
	-fx-background-color: transparent;
	-fx-background-radius: 5px;
}
#choiceDate .list-view .list-cell{
	-fx-background-color: #00ff00;
}

#datePicker{
	
}
#txtSearch{
	
}
#btnSearch{
	
}
#iKonSearch{
	
}
#lbTaskFailded, #lbTaskDoing,#lbTaskPlan ,#vboxDelayTime, #vboxPlanTime{
	-fx-background-color: #FFFFFF;
	-fx-text-fill: #404040;
	-fx-background-radius:5px;
	 
}
/* Style cho phan hien thi Calendar */
#paneMemberCalendar{
	-fx-background-color:rgba(250,250,250,0.9);
	-fx-background-radius: 5px;
}
#agendaView{
	-fx-background-color: rgba(250,250,250,0.9);
	-fx-background-radius: 5px;
}
#scrollMemberCalendar .viewport{
	-fx-background-color: transparent;
}
#scrollMemberCalendar{
	-fx-background-radius: 0 0 5 5;
}
/*Phan hien thi cho DetailTask */
#paneDetailTask{
	-fx-background-color: transparent ;/* #FFFFFF Transparent */
}
#paneDetailTask .label{
	-fx-text-fill: #757575;
}
#btnBack{
	-fx-background-color: transparent;
}
#iKonBack{
	-fx-fill:#9E9E9E;
}
#iKonApplyTask{
	-fx-fill:#FF5722;
}
#btnApplyTask{
	-fx-background-color: transparent;
}
#scrollDetailTask{
	-fx-background-color: transparent;
	-fx-border-width: 0px;
	-fx-border-radius: 5px;
}
#scrollDetailTask .viewport{
	-fx-background-color: transparent;
	-fx-border-width: 0px;
	-fx-border-radius: 5px;
}
#hboxTopDetailTask{
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 5px
}
#paneTitleTask  {
	-fx-background-color: transparent;
}
#gridTitleTask{
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 5px
}
#gridContentsTask{
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 5px
}
#btnEditTask{
	-fx-background-color:transparent;
}
#iKonEditTask{
	-fx-fill: #1976D2;
}
#iKonTaskTitle{
	-fx-fill: #1976D2;
}
#iKonTaskFrom{
	-fx-fill: #7E57C2;
}
#iKonTaskTo{
	-fx-fill: #E65100;
}
#iKonStartTask{
	-fx-fill: #7E57C2;
}
#iKonEndTask{
	-fx-fill: #E65100;
}
#iKonDesc{
	-fx-fill: #1976D2;
}
#txtTitleTask{
	-fx-text-fill: #0D47A1;
	-fx-background-color: transparent;
}
#txtSubTitleTask{
	-fx-background-color: transparent;
}
#txtTaskFrom{
	-fx-background-color: transparent;
}
#txtTaskTo{
	-fx-background-color: transparent;
}
#txtContents{
	
}
#txtContents .content{
	
}
#pickTimeStart{
	-fx-text-fill: red;
}
.mfx-toggle-button {
  -mfx-main: #7ed661;
  -mfx-secondary: #424242;
  -fx-padding: 10;
}


.mfx-toggle-button .mfx-ripple-generator {
  -mfx-animation-speed: 1.5;
  -mfx-ripple-radius: 10;
  -mfx-ripple-color: -mfx-main;
  -mfx-ripple-opacity: 0.4;
}

.mfx-toggle-button .circle {
  -fx-stroke: transparent;
  -fx-fill: -mfx-secondary;
}

.mfx-toggle-button .line {
  -fx-stroke-line-cap: ROUND;
  -fx-stroke: -mfx-secondary;
  -fx-opacity: 0.3;
}

.mfx-toggle-button:selected .mfx-ripple-generator {
  -mfx-ripple-color: -mfx-secondary;
}

.mfx-toggle-button:selected .circle {
  -fx-fill: -mfx-main;
}

.mfx-toggle-button:selected .line {
  -fx-stroke: -mfx-main;
}

.mfx-toggle-button:disabled .circle,
.mfx-toggle-button:disabled:selected .circle {
  -fx-fill: gray;
}

.mfx-toggle-button:disabled .line,
.mfx-toggle-button:disabled:selected .line {
  -fx-stroke: gray;
}

