
.mainlogin{
	-fx-background-color: transparent;
    -fx-background-radius: 5px;
}
#txtPass{
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #1388cbe8;
}
#txtName{
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #1388cb;
}
#btnSignIn{
    -fx-background-color: linear-gradient(to right, #36D1DC 0%, #5B86E5 51%, #36D1DC 100%);
    -fx-background-radius: 15px;
    
}
#btnExit{
    -fx-background-color: transparent;
}
#panelBlur{
	
}
#panelLeft{
	
}
#panelRight{
	
}
#checkboxRememberMe{
	-fx-text-fill: #1388cbe8;
}
#checkboxRememberMe .box{
	-fx-background-color: #FAFAFA;
	-fx-border-color: #1388cbe8;
	-fx-border-width: 2px;
	-fx-border-radius: 2px;
}